@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kalam:wght@300;400;700&display=swap');

html{
	overflow-y: scroll;
	overflow-x: hidden;
	
	
}
container{
	position: absolute;
}
.container{
	position: absolute;
	display: flex;
	flex-direction: column;
}

ul {
	align-content: center;
	vertical-align:middle;
  list-style: none;
}

li {
  display: inline-block;
	
  margin-right: 10px; /* add spacing between items */
}

.glow-button {
			font-size: 17px;
			margin-left: 1%;
            padding: 12px 24px;
            border-radius: 25px;
            font-weight: 900;
            color: #8698cf;
			padding: 11px 24px;
            font-weight: 600;
            color: white;
            background-image: linear-gradient(to right, #60A5FA, #2563EB);
            transition: all 0.3s ease-in-out;
            border: 2px;
            cursor: pointer;
			
        }

        .glow-button:hover {
			color: white;
            box-shadow: 0 10px 15px -3px rgba(96, 165, 250, 0.5);
			background-image: linear-gradient(to right, #60A5FA, #2563EB);
        }


nav{
	color: white;
	margin-top: 2%;
	align-items: center;
	margin-right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 2rem
	
}

a{	
	text-align: center;
	color: white;
	font-size: 35px;
	margin-left: 15px;
	margin-top: 5px;
}

		body{
            justify-content: center;
            align-items: center;
            background-color: #161A2D;
            overflow: hidden;
        }


		container{
			display:flex;
			flex-direction: row;
			margin-top: 2.5%;
			display: flex;
			width: 100%;
		}
		
.viewer{
	visibility: hidden;
	z-index: -5;
	width: 30%;
	margin-top: -1%;
}
		.message{

			font-size: 20px;
			margin-top: 12%;

			text-align: center;
			height: 100%;
			display:flex;
			align-content: center;
			z-index: 0;
			flex-direction: column;
			justify-content: center;

		}
	
		.pop-in-text{
			margin-top: 5%;
			width: 100%;
			text-align: center;
			z-index: 40;
			position: absolute;
		}
        .falling-div {
			position: absolute;
			z-index: 10;
			width: 100%;
			left: -0.5%;
			margin-top: 7%;
            height: 1000px;
            background-color: #131625;
			/*background-color: #111527;*/
            /*box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.05);*/
            opacity: 0;
            transform: translateY(-100%);
            transition: all 1.5s ease-in-out ;
			border-radius: 750px;
        }

		

        .falling-div.visible {
            opacity: 1;
            transform: translateY(0);
            animation: fall 1.5s ease-in-out forwards;
			color:#131622;
			font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			text-align: left;
			font-size: 35px;
			
        }

		.container {
		
		display: flex;
		flex-direction: column;
		margin-top: 0%;
		margin-left: 10px;
		max-width: 40%;
		padding: 0px;
		background-color: transparent; 
		border-radius: 2rem;
		/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
		
		}

		.container2 {
		display: flex;
		flex-direction: column;
		margin-top: -2%;
		z-index: 1;
		margin-left: 10px;
		max-width: 42%;
		padding: 0px;
		background-color: transparent; 
		border-radius: 2rem;
		/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
		
		}

	.char {
		display: inline-block;
		opacity: 0;
		transform: translateY(10px) scale(0.95);
		transition: opacity 0.8s ease-out, transform 0.8s ease-out, font-style 0.8s ease-out;
		font-style: normal;
		
	}
	
	.char2 {
			display: inline-block;
			opacity: 0;
			transform: translateY(10px) scale(0.95);
			transition: opacity 0.8s ease-out, transform 0.8s ease-out, font-style 0.8s ease-out;
			font-style: normal;
			margin: -3px 0px -3px 0px;
			margin-top: -2%;

		}



	.char.visible {
		text-align: center;
		opacity: 1;
		transform: translateY(0) scale(1);
		color:white;
		font-size: 600%;
		font-family: "Lato", sans-serif;
  		font-weight: 800;
  		font-style: normal;
		letter-spacing: -12px;
		
		
	}



	.char2.visible {
		opacity: 1;
		transform: translateY(0) scale(1);
		color:white;
		font-size: 150%;
  		font-style: normal;
		letter-spacing: 2px;
  		font-weight: 500;
		font-family: "Fredoka", sans-serif;
	}
	

	.space {
		width: 0.25em;
		
	}

        @keyframes fall {
            0% {
                transform: translateY(-100%) rotate(0deg);
                opacity: 0;
            }
            60% {
                transform: translateY(0) rotate(5deg);
                opacity: 0.7;
            }
            75% {
                transform: translateY(-5%) rotate(-4deg);
                opacity: 0.8;
            }
            85% {
                transform: translateY(0) rotate(2deg);
                opacity: 0.9;
            }
            92% {
                transform: translateY(0) rotate(-1deg);
                opacity: 0.95;
            }
            100% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
            }
        }
		
		.visible {
			
}
