@charset "utf-8";

.container{
	display: flex
}

ul {
	align-content: center;
	vertical-align:middle;
  list-style: none;
}

li {
  display: inline-block;
	
  margin-right: 10px; /* add spacing between items */
}

.glow-button {
			margin-left: 2%;
            padding: 12px 24px;
            border-radius: 9999px;
            font-weight: 600;
            color: white;
            background-image: linear-gradient(to right, #319AC7, #2563EB);
            transition: all 0.3s ease-in-out;
            border: none;
            cursor: pointer;
			font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
        }

        .glow-button:hover {
            box-shadow: 0 10px 15px -3px rgba(96, 165, 250, 0.5);
        }


nav{
	margin-top: 1%;
	align-items: center;
	margin-right: 5%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 2rem
	
}

body{		
	
            height: 100%;
            margin: 0;
            display:flex;
			flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f3f4f6;
            overflow: hidden;
        }




container{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	
	
}
        .falling-div {
            width: 450px;
            height: 500px;
            background-color: #FFFFFF;
            border-radius: 2rem;
            box-shadow: 0 10px 15px -3px rgba(200, 200, 200, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            opacity: 0;
            transform: translateY(-100%);
            transition: all 1.5s ease-in-out;
        }

        .falling-div.visible {
            opacity: 1;
            transform: translateY(0);
            animation: fall 1.5s ease-in-out forwards;
        }

        @keyframes fall {
            0% {
                transform: translateY(-100%) rotate(0deg);
                opacity: 0;
            }
            60% {
                transform: translateY(0) rotate(5deg);
                opacity: 0.7;
            }
            75% {
                transform: translateY(-5%) rotate(-4deg);
                opacity: 0.8;
            }
            85% {
                transform: translateY(0) rotate(2deg);
                opacity: 0.9;
            }
            92% {
                transform: translateY(0) rotate(-1deg);
                opacity: 0.95;
            }
            100% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
            }
        }